/* main style starts  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* Fifth section style start */
/* air pods pro & baby  */
.tv-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
  background: #fff;
}

.apple-tv {
  /* background-color: red; */
  width: 49.5%;
  background-image: url(../Images/home/apple-tv-background.jpg);
  height: 580px;
  background-position: center;
  padding-top: 54px;
  background-size: cover;
}

.AirPods {
  /* background-color: yellow; */
  width: 49.5%;
  background-image: url(../Images/home/air-pods.jpg);
  height: 580px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
  background-size: initial;
  color: white;
  padding-top: 54px;
}

.servant-logo {
  padding: 200px 0 180px;
}

.links-more a {
  text-decoration: none;
  font-size: 0.85em;
  color: rgb(0, 102, 204);
}

.links-more a::after {
  font-family: "FontAwesome";
  content: "\f144";
  padding-left: 15px;
  font-weight: 900;
}
.AirPods-pro-title h1 {
  font-size: 40px;
  font-weight: bold;
}
.magic-desc {
  padding: 10px;
}

/* Fifth section style end */

/* Sixth section style start */

.mack-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 1%;
}

.MacBook-Pro {
  background-image: url(../Images/home/macbook-pro.jpg);
  width: 49.5%;
  height: 580px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fafafa;
  padding-top: 30px;
}

.ipad {
  background-image: url(../Images/home/new-ipad.jpg);
  width: 49.5%;
  height: 580px;
  background-position: center;
  padding-top: 30px;
}
.best {
  padding: 10px;
}

/* Sixth section style ends here  */
